.sign-in-container {
  /* background-color: aquamarine; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  max-width: 414px;
  margin: auto;
  align-self: flex-start;
}

.left {
  align-self: flex-start;
}
