.audio-her-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.audio-details {
  display: flex;
  align-items: center;
}
.selector-audio {
}

.cursor-pointer {
  cursor: pointer;
  padding: 10px;
}

input[type="range"] {
  height: 26px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 99%;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #4f4c4e;
  background: #4f4c4e;
  border-radius: 1px;
  border: 0px solid #4f4c4e;
}
input[type="range"]::-webkit-slider-thumb {
  box-shadow: 0px 0px 1px #f5ffff;
  border: 2px solid #fdb927;
  height: 18px;
  width: 17px;
  border-radius: 33px;
  background: #fdb927;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7.5px;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #4f4c4e;
}
input[type="range"]::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #4f4c4e;
  background: #4f4c4e;
  border-radius: 1px;
  border: 0px solid #4f4c4e;
}
input[type="range"]::-moz-range-thumb {
  box-shadow: 0px 0px 1px #f5ffff;
  border: 2px solid #fdb927;
  height: 18px;
  width: 17px;
  border-radius: 33px;
  background: #fdb927;
  cursor: pointer;
}
input[type="range"]::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type="range"]::-ms-fill-lower {
  background: #4f4c4e;
  border: 0px solid #4f4c4e;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #4f4c4e;
}
input[type="range"]::-ms-fill-upper {
  background: #4f4c4e;
  border: 0px solid #4f4c4e;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #4f4c4e;
}
input[type="range"]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 1px #f5ffff;
  border: 2px solid #fdb927;
  height: 18px;
  width: 17px;
  border-radius: 33px;
  background: #fdb927;
  cursor: pointer;
}
input[type="range"]:focus::-ms-fill-lower {
  background: #4f4c4e;
}
input[type="range"]:focus::-ms-fill-upper {
  background: #4f4c4e;
}

.typo-song-name-player {
  font-family: Roboto;
  font-size: 19px;
  font-weight: 500;
  line-height: 22px;
  margin-left: 20px;
}
